/** @format */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 40px;
}

p {
  color: grey;
}

button {
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-header {
  background-image: url('images/main-header-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  text-align: center;
  color: white;
}

.main-header p {
  font-size: 18px;
  color: azure;
}

.header-button {
  background-color: #be4057;
}

.donation-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.donation-now h1 {
  font-weight: 700;
}

.donation-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
.amount-item {
  height: 100px;
  width: 150px;
  background-color: gainsboro;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #203239;
  font-size: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#default-amount-select {
  background-color: #f0b3be;
  border: 2px solid #c94bc7;
}

.donation-now input {
  text-align: center;
  width: 50%;
  outline: none;
  padding: 10px;
  border-bottom: 1px solid #a5a5a5;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 25px;
  font-size: 20px;
}

#right-now {
  background-color: #c94bc7;
  font-weight: bold;
  font-size: 20px;
}

.donation-scheme {
  text-align: center;
  margin-top: 70px;
}

.scheme-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.scheme-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
  background-color: aquamarine;
  padding: 15px;
  margin: 20px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.scheme-item img {
  height: 60px;
  width: 60px;
}

#food-item {
  background-color: #c7f1c7;
}

#medicine-item {
  background-color: #f5c7c7;
}

#shelter-item {
  background-color: #f5cbac;
}

.donation-volentier {
  width: 82%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 50px;
}

.volentier-details {
  width: 50%;
  padding: 20px;
  margin-right: 50px;
}

#volunteer-color {
  color: #be4057;
}

.volentier-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5cbac;
  border-radius: 10px;
}

.volentier-form h1 {
  color: #be4057;
}

#register-button {
  background-color: #be4057;
  font-size: 20px;
}

.volentier-form input {
  /* padding: 20px 270px; */
  padding: 10px 30px;
  margin: 30px;
  text-align: start;
  outline: none;
  border: none;
  border-radius: 10px;
  width: 50%;
  font-size: 20px;
}

.volentier-details img {
  height: 350px;
  width: 650px;
  margin-right: 10px;
}

.notify-section {
  margin-top: 150px;
}

.notify-text {
  text-align: center;
}

.subscription {
  background-color: #c7f1c7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  margin: 0 auto;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.subscription input {
  padding: 15px 25px;
  border: none;
  outline: none;
  background-color: #eaf6f6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 20px;
}

.subscription button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 20px;
}

#subscription-color {
  background-color: #be4057;
}

footer {
  background-color: #203239;
  padding: 40px;
  text-align: center;
  margin-top: 150px;
}

footer p {
  color: white;
}

footer h2 {
  color: white;
}

#donation-color {
  font-size: 40px;
  color: #be4057;
}
